Package: xyz.xninja.setnonce
Name: setnonce
Depends:
Version: 0.0.1
Architecture: iphoneos-arm
Description: Set boot-nonce in nvram on iOS
Maintainer: ARX8x
Author: ARX8x
Section: System
Tag: role::hacker
