Package: xyz.xninja.setnonce
Name: setnonce
Depends:
Architecture: iphoneos-arm
Description: Set boot-nonce in nvram on iOS
Maintainer: ARX8x
Author: ARX8x
Section: System
Tag: role::hacker
Version: 0.0.1-28+debug
Installed-Size: 132
