Package: xyz.xninja.nvnonce
Name: nvnonce
Depends:
Version: 0.0.2
Architecture: iphoneos-arm
Description: Set boot-nonce in nvram on iOS
Maintainer: ARX8x
Author: ARX8x
Section: System
Tag: role::hacker
